extends ../extends/layout

block aside
    -if (field.Role == 'Админ')
        include ../extends/aside
    -else
        include ../extends/aside_profile

block content
    -if (status === 'update')
        h4.alert_success #{mess}
    -if (status === 'err')
        h4.alert_error #{mess}

    article.module.width_full
        header
            h3 Изменить профиль
        .module_content
            form(method='POST')
                fieldset
                    label Фамилия, имя
                    input(type="text" name="name" value='#{field.Name}')
                fieldset
                    label Возраст
                    input(type="text" name="age" value='#{field.Age}')
                fieldset
                    label Адрес
                    input(type="text" name="address" value='#{field.Address}')
                fieldset
                    label Телефон
                    input(type="text" name="phone" value='#{field.Phone}')
                input.alt_btn.btn(type='submit' value='Изменить')
                a.btn.rollback_edit(href='/profile/edit') Вернуть начальные параметры