extends ../extends/layout

block content
    -if (status === 'okay')
        h4.alert_success #{mess}
    -if (status === 'err')
        h4.alert_error #{err}

    article.module.width_full
        header
            h3 Добавление нового посетителя #{mess}
        .module_content
            form(method='POST')
                fieldset
                    label Фамилия, имя
                    input(type="text" name="name" value='#{field.name}')
                fieldset
                    label Возраст
                    input(type="text" name="age" value='#{field.age}')
                fieldset
                    label Адрес
                    input(type="text" name="address" value='#{field.address}')
                fieldset
                    label Телефон
                    input(type="text" name="phone" value='#{field.phone}')
                fieldset
                    label Спортивная категория
                    input(type="text" name="role" value='#{field.role}')
                input.alt_btn.btn(type='submit' value='Добавить')
            

