extends ../extends/layout

block aside
    include ../extends/aside

block content
    -if (status === 'update')
        h4.alert_success #{mess}
    -if (status === 'err')
        h4.alert_error #{err}

    article.module.width_full
        header
            h3 Изменение текущего посетителя
        .module_content
            form(method='POST')
                fieldset
                    label Фамилия, имя
                    input(type="text" name="name" value='#{fields.Name}')
                fieldset
                    label Возраст
                    input(type="text" name="age" value='#{fields.Age}')
                fieldset
                    label Адрес
                    input(type="text" name="address" value='#{fields.Address}')
                fieldset
                    label Телефон
                    input(type="text" name="phone" value='#{fields.Phone}')
                fieldset
                    label Роль
                    input(type="text" name="role" value='#{fields.Role}')
                input.alt_btn.btn(type='submit' value='Изменить')
                a.btn.rollback_edit(href='/admin/user/#{fields.UserID}/edit') Вернуть начальные параметры
            

