extends ../extends/layout

block aside
    include aside

block content
    .list-item.list-item--name
        .list-item__col.list-item__col--mini 
        .list-item__col.list-item__col--mini Номер  
        .list-item__col Фамилия, имя
        .list-item__col.list-item__col--mini Возраст
        .list-item__col Адрес
        .list-item__col Телефон
        .list-item__col Роль
    -for item in allVisitors
        .list-item
            .list-item__col.list-item__col--mini 
                a.icn_link.icn_link--edit(href="/admin/user/#{item.UserID}/edit")
                a.icn_link.icn_link--trash(href="/admin/user/#{item.UserID}/delete")
            .list-item__col.list-item__col--mini #{item.UserID}  
            .list-item__col #{item.Name}
            .list-item__col.list-item__col--mini #{item.Age}
            .list-item__col #{item.Address}
            .list-item__col #{item.Phone}
            .list-item__col #{item.Role}