extends ../extends/layout

block content
    .list-item.list-item--name
        .list-item__col.list-item__col--id Номер  
        .list-item__col Фамилия, имя
        .list-item__col.list-item__col--age Возраст
        .list-item__col Адрес
        .list-item__col Телефон
        .list-item__col Спортивная категория
    -for item in allVisitors
        .list-item
            .list-item__col.list-item__col--id #{item.VisitorID}  
            .list-item__col #{item.visitorName}
            .list-item__col.list-item__col--age #{item.visitorAge}
            .list-item__col #{item.visitorAddress}
            .list-item__col #{item.visitorPhone}
            .list-item__col #{item.sportCategory}